{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container" style="min-height: 5vh; display: flex; flex-direction: column; align-items: center; justify-content:center;">
        <h5>Sistema para uso interno dos funcionários Gaulke Contábil.</h5>
    </div>

    <div class="container" style="min-height: 25vh; display: flex; flex-direction: column; align-items: center; justify-content:center;">
        
        <div class="line-separete-container">

        </div>

        <div class="container container-menu-functions-img">
            <h5> Comprovantes de Pagamentos </h5>
            <ul>
                <li> <a href="{% url 'post_file_fastAPI_comprovante_banco_do_brasil' %}"> <img src="{% static 'logo-banco-do-brasil.png' %}" alt=""> </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_comprovante_banco_bradesco' %}"> <img src="{% static 'logo-banco-bradesco.png' %}" alt=""> </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_comprovante_banco_sicredi' %}"> <img src="{% static 'logo-banco-sicredi.png' %}" alt=""> </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_comprovante_banco_sicoob' %}"> <img src="{% static 'logo-sicoob.png' %}" alt=""> </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_comprovante_banco_itau' %}"> <img src="{% static 'logo-banco-itau.png' %}" alt=""> </a> </li>
            </ul>
        </div>

        <div class="container container-menu-functions-link">
            <h5> Gerais/Utilitários </h5>
            <input type="text" name="input-serch-02" id="input-serch-02" placeholder="digite para filtrar" onkeydown="filtroOpcoes_02();">
            <ul class="list-options-02">
                <li> <a href="{% url 'post_file_fastAPI_folha_por_empregado' %}"> Folha de Pagamento </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_relacao_GNRE' %}"> Relação GNRE </a> </li>
                <li> <a href="{% url 'post_file_entrada_titulos_desc_sicoob' %}"> Entrada Títulos Desc. Sicoob </a> </li>
            </ul>
        </div>

        <div class="container container-menu-functions-link">
            <h5> Conta a pagar/receber </h5>
            <ul>
                <li> <a href="{% url 'post_file_fastAPI_relacao_cobrancas_pagas' %}"> Relação Cobranças Pagas (WB telecom) </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_relacao_decorise' %}"> Relação Decorise  </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_relacao_arao_dos_santos' %}"> Relação Arão dos Santos  </a> </li>
                <li> <a href="{% url 'post_file_fastAPI_relacao_grupo_DAB' %}"> Relação Grupo DAB  </a> </li>
            </ul>
        </div>




    </div>

    <div class="container">
        
    </div>


    <script>
        function filtroOpcoes_02() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("input-serch-02");
            filter = input.value.toUpperCase();
            list_options = document.querySelector(".list-options-02");
            li = list_options.getElementsByTagName("li");
            console.log(li);
            for (i = 0; i < li.length; i++) {
                x = li[i].querySelector("a");
                console.log(x);
                if (x) {
                    
                    console.log(x.textContent);

                    txtValue = x.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "flex";
                    } else {
                        li[i].style.display = "none";
                    }

                }
            }
        }
    </script>

{% endblock %}