{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar-base" style="z-index: 9999;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo-vertical-fundo-azul.png' %}" alt="logo" class="img-logo-navbar-desktop">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gerais/Utilitários
              </span>
              <ul class="dropdown-menu" style="min-width: 260px;">
                
                <a class="nav-link" href="{% url 'post_file_fastAPI_folha_por_empregado' %}"> Folha de Pagamento </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_relacao_GNRE' %}"> Relação GNRE </a>
                <a class="nav-link" href="{% url 'post_file_entrada_titulos_desc_sicoob' %}"> Entrada Títulos Desc. - Sicoob </a>
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contas a pargar/receber
              </span>
              <ul class="dropdown-menu" style="min-width: 305px;">
                
                <a class="nav-link" href="{% url 'post_file_fastAPI_relacao_cobrancas_pagas' %}"> Relação Cobranças Pagas (WB telecom) </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_relacao_decorise' %}"> Relação Decorise </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_relacao_arao_dos_santos' %}"> Relação Arão dos Santos </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_relacao_grupo_DAB' %}"> Relação Grupo DAB </a>
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Comprovantes de Pag.
              </span>
              <ul class="dropdown-menu" style="min-width: 260px;">
                
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_do_brasil' %}"> Comprovante - Banco do Brasil </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_bradesco' %}"> Comprovante - Bradesco </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_sicredi' %}"> Comprovante - Sicredi </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_sicoob' %}"> Comprovante - Sicoob </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_itau' %}"> Comprovante - Itaú </a>
                <a class="nav-link" href="{% url 'post_file_fastAPI_comprovante_banco_civia' %}"> Comprovante - Civia </a>
                
              </ul>
            </li>

            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Configurações
              </span>
              <ul class="dropdown-menu">
                <a class="nav-link" href="{% url 'config_contas_gnre' %}">Config. Contas GNRE</a>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dashboards
              </span>
              <ul class="dropdown-menu">
                <a class="nav-link" href="{% url 'dashboard_visao_geral' %}">Visão Geral</a>
              </ul>
            </li>

          {% endif %}
        </ul>
        <ul class="navbar-nav d-flex gap-4 align-items-center" id="menu-user-navbar">
          {% if user.is_authenticated %}
            <a href="{% url 'use_mode' %}" class="link-customized">
              <i class="fa-regular fa-circle-question icon-customized"></i>
            </a>
            
            <li>olá, {{user.username}}</li>
            <li>
              <a href="{% url 'logout' %}" class="btn-logout d-flex align-items-center gap-2">
                <span>sair</span>
                <i class="fa-solid fa-right-from-bracket"></i>
              </a>
            </li>
          {% else %}
            <li><a href="{% url 'login_user' %}">entrar</a></li>
          {% endif %}
          <li>
          </li>
        </ul>
      </div>
    </div>
  </nav>