.line-separete-container {
    border: 0;
    border-top: solid 3px blueviolet;
}
.container-menu-functions-img,
.container-menu-functions-link,
.container-menu-functions-img ul,
.container-menu-functions-link ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.container-menu-functions-img,
.container-menu-functions-link {
    flex-direction: column;
    margin: 45px 0px;
}
.container-menu-functions-img ul,
.container-menu-functions-link ul {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-menu-functions-img ul li,
.container-menu-functions-link ul li {
    max-width: 100%;
    list-style: none;
}
.container-menu-functions-img ul li img {
    width: 100%;
    object-fit: cover;
    max-width: 95px;
    max-height: 60px;
    border-radius: 5px;
}

.container-menu-functions-link ul li {
    padding: 12px 14px;
    border-radius: 8px;
    text-align: center;
    transition: .5s ease-in-out;
    background: var(--color-principal-azul-claro);
    align-items: center;
}
.container-menu-functions-link ul li:hover {
    background-color: var(--color-principal-azul-escuro);
}

.container-menu-functions-link ul li a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-principal-branco-puro);
}
.container-menu-functions-link ul li i {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-principal-branco-puro);
}

.block-btn-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#input-search-02 {
    width: 93.5%;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-bottom-color: #c9c9cf;
    outline: none;
}
#input-search-02:focus,
#input-search-02:focus:active{
    border-bottom-color: var(--color-principal-azul-claro);
}
.title-block-list-options {
    width: 100%;
    padding-left: 30px;
}
.list-options-01,
.list-options-02,
.list-options-03 {
    min-height: 108px;
    padding: 10px 30px;
    border-radius: 8px;
    background: #faf9fd;
}