/*  CONTROL MODAL BLUR CONFIGURATIONS PAYROLL RELATIONS */
.enableBlur_PreviewRelation >* {
    filter: blur(10.2px);
    overflow: hidden;
    transition: .5s ease-in-out;
  }
.disableBlur_PreviewRelation {
    filter: blur(0) !important;
    transition: .5s ease-in-out;
}
/* ------------ MODAL CONFIG PAYROLL RELATION ------------ */

#container-modal-preview {
    display: none;
    position: absolute;
    top: 97px;
    left: 50%;
    transform: translate(-50%, 0px);
    background: var(--color-principal-branco-puro);
    box-shadow: var(--color-box-shadow);
    border-radius: 5px;
    z-index: 999;
}
#container-payroll-relation {
    /* padding: 10px; */
    box-shadow: var(--color-box-shadow);
}
.btn-send-file,
.btn-submit-step-2 {
    border: 0;
    width: 100%;
    padding: 7px;
    margin: 20px 3px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-principal-azul-escuro);
    background-color: var(--color-principal-branco-puro);
    transition: .5s ease-in-out;
}
.btn-send-file:hover,
.btn-submit-step-2:hover {
    color: var(--color-principal-branco-puro);
    background-color: var(--color-principal-azul-claro);
}
.btn-submit-step-2 {
    width: 50% !important;
}


.display-modal-config-contas {
    display: block !important;
    /* animation: animation_hide_modal_config_contas 0.5s ease-in-out infinite; */
}

@keyframes animation_hide_modal_config_contas {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }

}










/* ------------------------- NOVO MODELO MODAL ------------------------- */
.container-base-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#form-input-files {
    width: 100%;
    max-width: 95vh;
    min-height: 40vh;
    max-height: 420px;
    margin: 30px;
    border-radius: 14px;
    background: linear-gradient(170deg, #def5f4, #fdf6ee);
    /* background: linear-gradient(170deg, #dbfffd, #f9efe4); */
}

.filter-blur-20 > * {
    filter: blur(26px);
}
.disble-filter-blur-20 {
    filter: blur(0px) !important;

}

/* #form-input-files form {
    max-width: 580px;
    border-radius: 5px;
} */

#form-input-files form {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-left: 1px solid #cbcbcd; */
    padding-left: 10px;
    margin-left: 10px;
    gap: 31px;
}


#form-input-files form .btn-send-file {
    max-width: 94.5%;
    max-height: 45px;
    margin: 0 auto;
    border: 1px solid #c4c5d1 !important;
    cursor: pointer;
}

.block-config-data-to-text,
.block-config-data-to-text form,
.block-config-data-to-text form div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-config-data-to-text {
    display: none;
    flex-direction: column;
    max-width: 620px;
    /* height: 56vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 9999;
}
#cod_empresa {
    color: #3b3c3c;
    background: #d2c0c000;
    border-color: transparent;
}
.block-config-data-to-CPF-CNPJ {
    display: none;
    flex-direction: column;
    max-width: 620px;
    /* height: 56vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 9999;
    padding-bottom: 10px;
}


.block-config-data-to-text form {
    width: 400px;
    max-width: 100%;
    height: 70%;
    margin: 20px 0px;
    flex-direction: column;
    gap: 15px;

}
.block-config-data-to-text form div {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.block-btns-options-modal input {
    border: none;
    background-color: white;
}
.block-btns-config-accounts input {
    padding: 3px 10px !important;
}
.block-btns-config-accounts input,
.block-btns-options-modal input:nth-child(1) {
    background: var(--color-principal-azul-claro);
    color: white;
    border: none;
    padding: 6px 0px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.block-btns-config-accounts input:hover,
.block-btns-options-modal input:nth-child(1):hover {
    background-color: #057dcb;
}

.block-config-data-to-CPF-CNPJ {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-input-config-cpf-cnpj {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    margin: 5px 0px;
}


.block-action-close-modal {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.block-action-close-modal i {
    cursor: pointer !important;
    font-size: 26px;
}
.block-config-data-to-text > .block-action-close-modal > i:hover {
    color: rgb(13, 14, 11);
}
.filter-blur-10 >* {
    filter: blur(16px);
    pointer-events: none;
}
.disble-filter-blur {
    filter: blur(0px) !important;
    pointer-events: all;
}

.displayModalVisible {
    display: flex;
    animation: animation_open_modal_accounts 0.7s ease-in-out;
}
@keyframes animation_open_modal_accounts {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* ----- FORMS */
.block-inputs-form-post-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* -------------- ANIMATIONS LOADING -------------- */
.container-processing-data article,
.container-processing-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-processing-data {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* background-color: var(--color-principal-azul-claro); */
    /* background-color: #e9eef1; */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgb(238, 238, 241)100%);
    filter: blur(0px) !important;
    z-index: 1099;
}
.container-processing-data article {
    width: 200px;
    height: 200px;
}
.container-processing-data article span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(47, 0, 255);
}
.displayflexAnimationProcessingData {
    display: flex;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  background: var(--color-principal-azul-claro);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/*  ------------------------ BLOCK IMAGE MODAL CLIENT ------------------------ */
/* .block-image-layout-client {
    width: 100%;
    box-sizing: border-box;
    max-width: 242px;
} */

.block-image-layout-client img {
    /* width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 5px; */
    width: 235px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}


/*  ------------------------ BLOCK ERROR FILES MODAL ------------------------ */
.block-error-read-file {
    max-width: 495px;
    height: 56px        ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    border-radius: 5px;
    gap: 15px;
}
.block-error-read-file:nth-child(1) {
    background-color: #f9eff3;
    justify-content: center;
    box-shadow: var(--color-box-shadow);
}
.block-error-read-file p {
    margin: 0;
    padding: 0;
}


.block-info-erros-input-file {
    display: none;
    color: red;
}














/* ---------------------------------------- CONFIGURAÇÕES AVANÇADAS ----------------------------------------  */
.modal-configuracoes-avancadas > .block-all-tags {
    max-height: 40vh;
    overflow-y: scroll;
    max-width: 600px;
}
.modal-configuracoes-avancadas > .block-all-tags ul {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 4px;
}
.modal-configuracoes-avancadas > .block-all-tags ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    /* margin: 4px 0px; */
    padding: 4px;
    gap: 10px;
    background: #CCC;
    cursor: pointer;
}
.modal-configuracoes-avancadas > .block-all-tags ul li span {
    padding: 0px 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: #5d656b;
}


.block-search-all-tags,
.block-btn-rules {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 8px 0px;
}
.block-search-all-tags input,
.block-btn-rules input {
    outline: none;
    list-style: none;
}
.block-btn-rules input[type="button"] {
    margin: 0;
    border: 0;
    padding: 2px 12px;
    color: var(--color-principal-branco-puro);
    background-color: var(--color-principal-azul-claro);
    border-radius: 4px;
}

.content-config-new-rule {
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    transition: .6s ease-in-out;
}
.content-config-new-rule.visible {
    display: flex;
    animation: animation_block_new_rule 3s ease-in-out;
}
@keyframes animation_block_new_rule {
    0% {
        height: 0%;
        transition: 2s ease-in-out;
    }
    25% {
        height: 25%;
        transition: 2s ease-in-out;
    }
    55% {
        height: 85%;
        transition: 2s ease-in-out;
    }
    100% {
        height: 80%;
        transition: 2s ease-in-out;
    }
}

.content-config-new-rule form {
    width: 260px;
}
.content-config-new-rule > .block-btn-rules {
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}


.block-config-data-to-text form div {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 5px;
}
.block-config-data-to-text form div input {
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    background: #f7f3e9;
}

.block-btn-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 4px 6px;
    gap: 5px;
    cursor: pointer;
    color: var(--color-principal-branco-puro);
    background-color: var(--color-principal-azul-claro);
}


.block-btn-actions i {
    min-height: 29px;
    min-width: 29px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-status-process {
    display: none;
}
.message-status-process p {
    display: inline-block;
    padding: 3px 12px;
    text-align: start;
    border-radius: 4px;
}

.message-status-process p.active-success {
    color: #000000;
    background: rgb(9, 184, 61);
}
.message-status-process p.active-error {
    color: white;
    background: red;
}



/* -------------------------------------------------- */
.container.block-menu-actions ul li {
    border-radius: 0px;
    font-size: 19px;
    padding: 3px 9px;
    border-radius: 0px;
}

.container.block-menu-actions ul li.menu-active {
    background: var(--color-principal-azul-claro);
    color: var(--color-principal-branco-puro);
}