/* ------------------------------------------ */
.display-container-elements {
  display: none;
  animation: animation_redo_container_base_elements ease-in-out .5s;
}
@keyframes animation_redo_container_base_elements {
  0% {
    opacity: 0.7;
    display: flex;
  }
  50% {
    opacity: 0.2;
    display: flex;
  }
  100% {
    opacity: 0;
    display: flex;
  }
}

/* ------------------------------------------ */
.table-preview thead,
#table-accounts-relaction thead {
  position: sticky;
  top: 0px;
  z-index: 999;
}

.table-preview thead tr th,
.table-preview tbody tr td,
#table-accounts-relaction thead tr th,
#table-accounts-relaction tbody tr td {
  font-size: 11px;
  vertical-align: middle;
}

.table-preview thead tr th,
#table-accounts-relaction thead tr th {
  min-width: 99px !important;
  min-height: 50px;
  border-bottom: 10px;
}

/* ------------------------------------------ */

.table-preview thead tr th,
.table-preview-generic thead tr th {
  top: 0;
  z-index: 999;
  position: sticky;
}

.table-preview tbody tr,
.table-preview-generic tbody tr {
    vertical-align: middle;
}



#container-preview-relation {
  display: none;
}
.block-content-preview {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: flex-start;
}
.block-1-preview {
  width: 150px;
  position: sticky;
  top: 0;
  z-index: 999;
  /* background-color: brown; */
}
.block-2-preview {
  min-height: 11vh;
  max-height: 61vh;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  /* background-color: blueviolet; */
}
.block-2-preview::-webkit-scrollbar {
  width: 4px;
  height: 1.4px;
  border-radius: 4px;
  background: #0D6DAC;
}
.block-2-preview::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--color-principal-laranja-claro);
}




/* ------------------------------------------- NEW FORMAT CSS ------------------------------------------- */
.block-resume-data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.block-resume-data-table p {
  max-width: 100px !important;
  text-align: center;
  border-radius: 4px;
  background-color: #e3d5d5;
}
.container-table-preview {
  max-width: 100%;
  max-height: 45vh;
  overflow: scroll;
  box-sizing: border-box;
}
.container-table-preview table {
  max-width: 100%;
  background: aqua;
  margin: 10px;
}
.container-table-preview table thead {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.container-table-preview {
  font-size: 12px;
}
.col-fixed-2 {
  position: sticky;
  top: 0;
  left: -15px;
}