{% extends 'base.html' %}
{% load static %}
{% block title %}Modo de Uso - Login e Logout{% endblock %}
{% block content %}
<!-- enableBlur -->
<div class="container-fluid">
    <div class="container ">
        <h3 class="row w-100 text-center-customized">#Modo de Uso - Login e Logout</h3>
    </div>

    <div class="container my-5 details-use-mode">
                
        <p><b>1.</b> Página de login  <a href="http://app.contabilgaulke.com.br/automations/login/" style="color: blue !important;" target="_blank">http://app.contabilgaulke.com.br/automations/login/</a></p>
        <p><b>2.</b> Insira seu usuário e a senha;</p>
        <p><b>3.</b> Clique em "Entrar" ou use a tecla "Enter" do teclado;</p>
        <p><b>4.</b> Para sair do sistema clique no botão "sair" localizado na parte superior direito da tela;</p>
        
    </div>

    <div class="container my-5 details-use-mode">
        <p style="font-style: italic;">Processo de Login e Logout</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yoHhhWxpyzI?si=r0Q9YCXtr2c0Bn40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
</div>

{% endblock %}